<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Form creator</title>
        <style>
        @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

        body {
            background: #009578;
            margin: 15px;
            margin-top: 50px;
        }

        .login-form,
        .login-form * {
            box-sizing: border-box;
            font-family: 'Source Sans Pro';
        }

        .login-form {
            max-width: 350px;
            margin: 0 auto;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        }

        .login-form__logo-container {
            padding: 30px;
            background: rgba(0, 0, 0, 0.25);
        }

        .login-form__logo {
            display: block;
            max-width: 125px;
            margin: 0 auto;
        }

        .login-form__content {
            padding: 30px;
            background: #eeeeee;
        }

        .login-form__header {
            margin-bottom: 15px;
            text-align: center;
            color: #333333;
        }

        .login-form__input {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            border: 2px solid #dddddd;
            background: #ffffff;
            outline: none;
            transition: border-color 0.5s;
        }

        .login-form__input:focus {
            border-color: #009578;
        }

        .login-form__input::placeholder {
            color: #aaaaaa;
        }

        .login-form__button {
            padding: 10px;
            color: #ffffff;
            font-weight: bold;
            background: #009578;
            width: 100%;
            border: none;
            outline: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .login-form__button:active {
            background: #008067;
        }

        .login-form__links {
            margin-top: 15px;
            text-align: center;
        }

        .login-form__link {
            font-size: 0.9em;
            color: #008067;
            text-decoration: none;
        }

        .flash-message {
                margin-left:800px;
                font-size: 24px;
                background-color:rgb(237, 134, 132);
                color:white;
                text-align: center;
                border-radius:10px;
                width:200px;
        }

        </style>
    </head>
    <body>
        <div class = "flash-message" role = "alert">
            <%= message %>
        </div>
        <div class="login-form__logo-container">
            <form class="login-form" action="/signup" method="POST">
                <div class="login-form__logo-container">
                    <img class="login-form__logo" src="https://img.icons8.com/ios/50/000000/google-forms-filled.png" alt="Logo">
                </div>
                <div class="login-form__content">
                    <div class="login-form__header">Create new account</div>
                    <div id = "userStatus" style = "margin-left:10px;font-size: 12px" > 
                    
                    </div> 
                    <input class="login-form__input" id="username-input" type="text" name="username" onkeyup="onUsernameEnter()" placeholder="Username" />
                    <input class="login-form__input" type="password" name="password" placeholder="Password"/>
                    <button class="login-form__button" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    <% users.forEach(function(user){ %>
        <div class="dynamic-username" style="display: none;"> 
            <%= user %>
        </div>
    <% }); %>
    </body>
    <script>
        var input = document.getElementById('username-input');
        console.log(input);
        var message = document.getElementById('userStatus');
        var usersArray = document.getElementsByClassName("dynamic-username");
        
        var arr = [];
        for(var i = 0; i < usersArray.length; i++) {
            arr.push(usersArray[i].textContent);
        }

        function onUsernameEnter() {   
            var flag = 0;
            console.log(typeof(input.value));
            console.log(typeof(arr[0]));

            for(var i = 0;i < arr.length;i++){


                if( arr[i].trim() === input.value){
                    flag = 1;
                    break;
                } 
            }
                                                         
            if((flag === 0) && (input.value !== ""))
            message.textContent = "Username not taken";
            
            else if(flag === 1)
            message.textContent = "Username taken"; 
            
            else if(input.value === "")
            message.textContent = "";
            
        }
    </script>
</html>